{% extends 'tom_common/base.html' %}
{% load bootstrap4 static %}
{% load plotly_dash %}
{% block title %}Floyds Inbox{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_targets/css/targets_snexclone.css' %}">
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-md fixed-top fixed-top-2">
  <div class="collapse navbar-collapse" id="targetInfo">
    <h3>Floyds Inbox</h3>
  </div>
</nav>
<!-- <h4>Spectra in need of reduction:</h4>
<table class="table">
  <thead>
    <tr>
      <th style="width: 10%;">Target</th>
      <th style="width: 15%;">Proposal</th>
      <th style="width: 10;">Date</th>
      <th style="width: 25%;">Path</th>
      <th style="width: 10%;">File</th>
      <th style="width: 30%;">Preview</th>
    </tr>
  </thead>
  <tbody>
  {% for row in inbox_rows %}
  <tr>
    <td>
      {% for name in row.targetnames %}
      <a href="{% url 'targets:detail' row.targetid %}">{{ name }}</a><br>
      {% endfor %}
    </td>
    <td>{{ row.propid }}</td>
    <td>{{ row.dateobs }}</td>
    <td>{{ row.path }}</td>
    <td>{{ row.filename }}</td>
    <td><img width="270" src="{{ row.img }}" alt="img"></td>
  </tr>
  {% endfor %}
</table> -->


<h4>Banzai spectra reductions in need of approval:</h4>
<table class="table">
  <thead>
    <tr>
      <th style="width: 15%;">Target Info</th>
      <th style="width: 40%;">Reduction Preview
        <style>
          .btn-small {
            padding: 2px 8px;
            font-size: 12px;
            cursor: pointer;
          }
        </style>
        <!-- Small icon-only button -->
        <button class="btn btn-primary refresh-btn ms-3"  title="Refresh Ingestion">&#x27F3;</button>
      </th>
      <th style="width: 35%;">2D Image</th>
      <th style="width: 10%;">Approval?</th>
    </tr>
  </thead>
  <tbody>
  {% for row in banzai_inbox_rows %}
  <tr>
    <td>
      <table>
      <tr><a href="{% url 'targets:detail' row.targetid %}">{{ row.targetnames }}</a></tr>
      <tr><td><b>Proposal:</b> {{ row.propid }}</td></tr>
      <tr><td><b>Date:</b> {{ row.dateobs }}</td></tr>
      <tr><td><b>File:</b> {{ row.filename }}</td></tr>
      </table>
      
    </td>
    <td style="height: 400px;">
      <div style="height: 400px;">
      {% plotly_app name="Base_Spectra_Individual" ratio=0.8 initial_arguments=row.dash_context %}
      </div>
    </td>
    <td><img width="350" src="{{ row.img_2d }}" alt="img"></td>
    
    <td>
      <select class="form-control form-control-sm mb-2 version-approval-select" data-specid="{{ row.specid }}">
        {% for version in row.versions %}
          <option value="{{ version.id }}" {% if forloop.first %}selected{% endif %}>
            {{ version.label }}
          </option>
        {% endfor %}
      </select>
      <button type="button"
              class="btn btn-success btn-sm approve-btn d-block w-100 mb-1"
              data-target_id="{{ row.targetid }}"
              data-specid="{{ row.specid }}">
        Approve Extraction
      </button>
      <a href="https://banzai-floyds.lco.earth/" 
        class="btn btn-secondary btn-sm d-block w-100 mb-1">
        Re-extract
      </a>
      <button type="button"
              class="btn btn-sm reject-btn d-block w-100 mb-1"
              style="background-color: #e07b39; border-color: #e07b39; color: white;"
              data-target_id="{{ row.targetid }}"
              data-specid="{{ row.specid }}">
        Resubmit Observation
      </button>
      <button type="button"
              class="btn btn-sm stop-btn d-block w-100 mb-1"
              style="background-color: #c0392b; border-color: #c0392b; color: white;"
              data-target_id="{{ row.targetid }}"
              data-specid="{{ row.specid }}">
        Stop Sequence
      </button>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<h3>Observations without Banzai reductions:</h3>
<table class="'table">
  <thead>
    <tr>
      <th style="width: 10%;">Target</th>
      <th style="width: 10%;">Proposal</th>
      <th style="width: 10;">Date</th>
      <th style="width: 25%;">Path</th>
      <th style="width: 10%;">File</th> 
      <!-- Put download file button to allow re-reduction with IRAF pipeline -- downloads fits/zip function in views-- change to all related frames for a specific file-->
      <th style="width: 5%;">Time since Exposure</th>
      <th style="width: 30%;">Preview</th>
    </tr>
  </thead>
  <tbody>
  {% for row in unreduced_spectra %}
  <tr>
    <td>
      {% for name in row.targetnames %}
      <a href="{% url 'targets:detail' row.targetid %}">{{ name }}</a><br>
      {% endfor %}
    </td>
    <td>{{ row.propid }}</td>
    <td>{{ row.dateobs }}</td>
    <td>{{ row.path }}</td>
    <td>{{ row.filename }}</td>
    <td>{{ row.time_since_exp }}</td>
    <td><img width="270" src="{{ row.img }}" alt="img"></td>
  </tr>
  {% endfor %}
  <!-- make ability to mark as bad and link to banzai page. -->
  </tbody>
</table>
<!-- add checkbox to plot other spectra from same target to compare. add functionality if banzai floyds fails - use e00 (check observation record vs dataproduct. if dp not made, get matching e00), link to observation record (track this sequence) -->
<script>
  function update_spec_approval(target_id, specid, approval) {
    $.ajax({
      url: "{% url 'custom_code:update-spec-approval' %}",
      method: "GET",
      data: {
        'target_id': target_id,   
        'specid':    specid,
        'approval':  approval
      },
      dataType: "json",
      success: function(response) {
        console.log("Approval update succeeded:", response);
        // TODO: visually update the row (e.g. disable buttons, show checkmark)
      },
      error: function(xhr, status, err) {
        console.error("Approval update failed:", status, err);
      }
    });
  }

  function refresh_ingestion() {
      $.ajax({
        url: "{% url 'custom_code:refresh-banzai-ingestion' %}",
        method: "GET",
        success: function(response) {
          console.log("Running refresh_ingestion", response);
        },
        error: function(xhr, status, err) {
          console.error("Ingestion failed:", status, err);
        }
      });
  }

  $(document).ready(function() {

    $(document).on('click', '.approve-btn', function() {
        const btn      = $(this);
        const targetid = btn.data('target_id');
        const specid   = btn.closest('td').find('.version-approval-select').val();
        update_spec_approval(targetid, specid, 'True');
    });

    $(document).on('click', '.reject-btn', function() {
      const btn      = $(this);
      const targetid = btn.data('target_id');
      const specid   = btn.data('specid');
      update_spec_approval(targetid, specid, 'False');
    });
    
    $(document).on('click', '.stop-btn', function() {
      const btn      = $(this);
      const targetid = btn.data('target_id');
      const specid   = btn.data('specid');
      update_spec_approval(targetid, specid, 'Stop');
    });

    $(document).on('click', '.refresh-btn', function() {
      const btn      = $(this);
      refresh_ingestion();
    });

  });
</script>

{% endblock %}