{% load bootstrap4 crispy_forms_tags observation_extras targets_extras custom_code_tags static cache %}
<style>
.border-right {
    border-right: 1px solid black;
}
#div_phot_groups {
    overflow-y: scroll;
    width: 250px;
    height: 250px;
}
#div_spec_groups {
    overflow-y: scroll;
    width: 250px;
    height: 250px;
}
#div_phot_delay_amount {
    display: none;
}
#div_spec_delay_amount {
    display: none;
}
</style>
<div class="row">
  <div class="col-md-6">
    {% airmass_plot %}
  </div>
  <div class="col-md-6">
    {% moon_vis object %}
  </div>
</div>
<div class="row">
  <div class="col-md-6 border-right">
    <h4>Submit a Photometry Sequence</h4>
    {% crispy phot_form %}
  </div>
  <div class="col-md-6">
    <h4>Submit a Spectroscopy Sequence</h4>
    {% crispy spec_form %}
  </div>
</div>
<script>
$(function () {
  const $instType = $("#phot_instrument_type");
  const config = {
    '1M0-SCICAM-SINISTRO': {
      show: ['U', 'B', 'V', 'R', 'I', 'up', 'gp', 'rp', 'ip', 'zs', 'w'],
      defaults: {'U': 300, 'B': 200, 'V': 120, 'gp': 200, 'rp': 120, 'ip': 120}
    },
    '0M4-SCICAM-QHY600': {
      show: ['B', 'V', 'up', 'gp', 'rp', 'ip', 'zs', 'w'],
      defaults: {'B': 200, 'V': 120, 'gp': 200, 'rp': 120, 'ip': 120}
    },
    '2M0-SCICAM-MUSCAT': {
      show: ['muscat_filter'],
      defaults: {'muscat_filter': 200}
    }
  };
  function updateVisibility() {
    const val = $instType.val();
    const settings = config[val];
    $("[id^='row_']").hide();
    $("#all-filters-div [id$='_0']").val(0);
    $("#all-filters-div [id$='_1']").val(2);
    $("#all-filters-div [id$='_2']").val(1);
    if (settings) {
      settings.show.forEach(f => $(`#row_${f}`).show());
      for (let f in settings.defaults) {
        $(`#phot_${f}_0`).val(settings.defaults[f]);
      }
    }
    if (val === '2M0-SCICAM-MUSCAT') {
      $('#block-no-header').hide();
      $('#exp-time-header, #exp-num-header').removeClass('col-md-4').addClass('col-md-6');
      $("[id$='_2']").hide();
      $("[id$='_2']").closest('div.col-md-4, .col').hide();
    } else {
      $('#block-no-header').show();
      $('#exp-time-header, #exp-num-header').removeClass('col-md-6').addClass('col-md-4');
      $("[id$='_2']").show();
      $("[id$='_2']").closest('div.col-md-4, .col').show();
    }
  }
  $instType.on('change', updateVisibility);
  updateVisibility();
});
$("#phot_cadence_frequency_value").keyup(function() {
  var cadence = document.getElementById("phot_cadence_frequency_value").value;
  var cadence_unit = document.getElementById("phot_cadence_frequency_unit").value;
  if (cadence_unit === 'hours') {
    cadence = cadence / 24;
  } else {
    cadence = cadence;
  }
  var delayamount = document.getElementById("phot_delay_amount").value;
  var newreminder = 2*parseFloat(cadence) + parseFloat(delayamount) + 0.7;
  document.getElementById("phot_reminder").value = newreminder;
});
$("#phot_cadence_frequency_unit").change(function() {
  var cadence = document.getElementById("phot_cadence_frequency_value").value;
  var cadence_unit = document.getElementById("phot_cadence_frequency_unit").value;
  if (cadence_unit === 'hours') {
    cadence = cadence / 24;
  } else {
    cadence = cadence;
  }
  var delayamount = document.getElementById("phot_delay_amount").value;
  var newreminder = 2*parseFloat(cadence) + parseFloat(delayamount) + 0.7;
  document.getElementById("phot_reminder").value = newreminder;
});
$("#phot_delay_amount").keyup(function() {
  var cadence = document.getElementById("phot_cadence_frequency_value").value;
  var cadence_unit = document.getElementById("phot_cadence_frequency_unit").value;
  if (cadence_unit === 'hours') {
    cadence = cadence / 24;
  } else {
    cadence = cadence;
  }
  var delayamount = document.getElementById("phot_delay_amount").value;
  var newreminder = 2*parseFloat(cadence) + parseFloat(delayamount) + 0.7;
  document.getElementById("phot_reminder").value = newreminder;
});
$("#phot_delay_start").click(function() {
  var delayAmount = document.getElementById("div_phot_delay_amount");
  if (delayAmount.style.display === "block") {
    delayAmount.style.display = "none";
  } else {
    delayAmount.style.display = "block";
  }
})
$("#spec_cadence_frequency_value").keyup(function() {
  var cadence = document.getElementById("spec_cadence_frequency_value").value;
  var cadence_unit = document.getElementById("spec_cadence_frequency_unit").value;
  if (cadence_unit === 'hours') {
    cadence = cadence / 24;
  } else {
    cadence = cadence;
  }
  var delayamount = document.getElementById("spec_delay_amount").value;
  var newreminder = 2*parseFloat(cadence) + parseFloat(delayamount) + 0.7;
  document.getElementById("spec_reminder").value = newreminder;
});
$("#spec_cadence_frequency_unit").change(function() {
  var cadence = document.getElementById("spec_cadence_frequency_value").value;
  var cadence_unit = document.getElementById("spec_cadence_frequency_unit").value;
  if (cadence_unit === 'hours') {
    cadence = cadence / 24;
  } else {
    cadence = cadence;
  }
  var delayamount = document.getElementById("spec_delay_amount").value;
  var newreminder = 2*parseFloat(cadence) + parseFloat(delayamount) + 0.7;
  document.getElementById("spec_reminder").value = newreminder;
});
$("#spec_delay_amount").keyup(function() {
  var cadence = document.getElementById("spec_cadence_frequency_value").value;
  var cadence_unit = document.getElementById("spec_cadence_frequency_unit").value;
  if (cadence_unit === 'hours') {
    cadence = cadence / 24;
  } else {
    cadence = cadence;
  }
  var delayamount = document.getElementById("spec_delay_amount").value;
  var newreminder = 2*parseFloat(cadence) + parseFloat(delayamount) + 0.7;
  document.getElementById("spec_reminder").value = newreminder;
});
$("#spec_delay_start").click(function() {
  var delayAmount = document.getElementById("div_spec_delay_amount");
  if (delayAmount.style.display === "block") {
    delayAmount.style.display = "none";
  } else {
    delayAmount.style.display = "block";
  }
})
</script>
