{% extends 'tom_common/base.html' %}
{% load comments bootstrap4 crispy_forms_tags tom_common_extras targets_extras observation_extras dataproduct_extras static cache %}
{% load custom_code_tags %}
{/* % load airmass_tags % */}
{% block title %} Target filtering {% endblock %}
{% block additional_css %}


<link rel="stylesheet" href="{% static 'tom_targets/css/targets_snexclone.css' %}">
{% endblock %}
{% block content %}

<h1>Target Filtering</h1>
  <form method="post">
  {% csrf_token %}
  {% crispy form %}
</form>

  <hr/>

<h2>Results</h2>
<p>{{ targets|length }} objects found</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name(s)</th>
      <th>RA</th>
      <th>Dec</th>
      <th>z</th>
      <th>Type</th>
      <th>Created</th>
      <th>SNEx ID</th>
     
    </tr>
  </thead>
  <tbody>
    {% for t in targets %}
      <tr>
        
        <td>
          {{ t.name }}
          {% for alias in t.aliases.all %}
            <br><small class="text-muted">{{ alias.name }}</small>
          {% endfor %}
        </td>

        <td>{{ t.ra|floatformat:6 }}</td>

        <td>{{ t.dec }}</td>

        <td>{{ t.redshift_extra|default:"—" }}</td>
        <td>{{ t.classification_extra|default:"—" }}</td>

        <td>{{ t.created|date:"Y-m-d" }}</td>

        <td>{{ t.id }}</td>

      </tr>
    {% empty %}
      <tr><td colspan="7"><em>No targets found.</em></td></tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}