@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
  --snex-navbar-bg: black;
  --snex-navbar-dropdown-bg: #111;
  --snex-navbar-dropdown-hover: #222;
  --snex-navbar-height: 35px;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 0 !important;
  background-color: #fff !important;
}

h2, h3, h5 {
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-family: 'Open Sans', sans-serif;
}

.navbar.fixed-top:not(.fixed-top-2) {
  background: var(--snex-navbar-bg) !important;
  color: white;
  height: var(--snex-navbar-height);
  position: relative;
}

.fixed-top-2 {
  margin-top: 0;
  margin-left: calc(-1.5rem);
  margin-right: calc(-1.5rem);
  margin-bottom: 1rem;
  background: #174460;
  color: white;
  height: 89px;
  position: relative;
  z-index: 1029;
  width: calc(100% + 3rem);
}

.fixed-top-2 h3 {
  padding-left: calc(-1.5rem);
}

.fixed-top-2 a {
  text-align: left;
  font-size: 18pt;
  padding: 14px 16px;
}

.content {
  padding: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: none;
}

@media (max-width: 767px) {
  .navbar.fixed-top:not(.fixed-top-2) {
    height: auto;
  }
  .navbar-collapse {
    background: var(--snex-navbar-bg) !important;
  }
  .dropdown-menu {
    background: transparent !important;
    border: none;
  }
}