{% extends 'tom_common/base.html' %}
{% load comments bootstrap4 tom_common_extras targets_extras observation_extras dataproduct_extras static cache %}
{% load custom_code_tags %}
{% block title %}Target {{ object|get_best_name }}{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_targets/css/targets_snexclone.css' %}">
<style>
  #id_comment {
    height: 2.5rem;
    width: 30rem;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .mb-1 {
    font-weight: bold;
    font-size: 14px;
  }
  .mr-1 {
    font-size: 14px;
    margin-bottom: 0rem;
  }
  ::placeholder {
    color: white;
  }
  .htmx-indicator {
    display: none;
  }
  .htmx-request .htmx-indicator,
  .htmx-request.htmx-indicator {
    display: inline-block;
  }
  .tab-placeholder {
    text-align: center;
    padding: 50px;
    color: #666;
  }
</style>
{% endblock %}
{% block content %}
<script src="https://cdn.plot.ly/plotly-2.35.2.min.js"></script>
<table class="header-table" cellpadding="0" cellspacing="0" style="background: #174460; font-family: 'Open Sans', sans-serif; color: white; width: 100vw; margin-left: calc(-1 * (100vw - 100%) / 2); margin-top: 0;">
  <tr height="89">
    <td align="left">
      <span style="display: inline-block; font-size: 35px; margin-left: 30px;">{{ target|get_best_name }}</span>
    </td>
    <td align="left">
      {% classifications_dropdown target %}
    </td>
    <td align="left">
      <span style="font-size: 20px;">
        <span id="zpre">z=</span>
        <input type="text" name="redshift" id="thenewredshift" autocomplete="off"
          value="{{ target.redshift|strip_trailing_zeros|default_if_none:'' }}"
          placeholder="z"
          hx-get="{% url 'sync_targetextra' %}"
          hx-trigger="keyup[key=='Enter'], change"
          hx-vals='js:{newdata: JSON.stringify({key: "redshift", value: event.target.value, targetid: {{ target.id }}})}'
          hx-swap="none"
          style="background: none; border: 0px solid #174460; font-family: 'Open Sans', sans-serif; color: white;">
      </span>
    </td>
    <td align="left">
      <span style="display: inline-block; font-size: 23px;">{{ target.ra|deg_to_sexigesimal:"hms" }} {{ target.dec|deg_to_sexigesimal:"dms" }}</span><br><span style="display: inline-block; font-size: 20px;">{{ target.ra|floatformat:4 }} {{ target.dec|floatformat:4 }}</span>
    </td>
  </tr>
</table>
<ul class="nav nav-tabs" role="tablist" id="tabs">
  <li class="nav-item">
    <a class="nav-link active" id="observe-tab" href="#observe" role="tab" data-toggle="tab" style="color: #174460;">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="detail-tab" href="#detail" role="tab" data-toggle="tab"
      hx-get="{% url 'load-details-tab' target.id %}" hx-target="#detail" hx-trigger="click once" hx-indicator="#spinner-detail">Details
      <span id="spinner-detail" class="htmx-indicator spinner-border spinner-border-sm ml-1"></span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="observations-tab" href="#observations" role="tab" data-toggle="tab"
      hx-get="{% url 'load-observations-tab' target.id %}" hx-target="#observations" hx-trigger="click once" hx-indicator="#spinner-observations">Observations
      <span id="spinner-observations" class="htmx-indicator spinner-border spinner-border-sm ml-1"></span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="manage-data-tab" href="#manage-data" role="tab" data-toggle="tab"
      hx-get="{% url 'load-manage-data-tab' target.id %}" hx-target="#manage-data" hx-trigger="click once" hx-indicator="#spinner-manage-data">Manage Data
      <span id="spinner-manage-data" class="htmx-indicator spinner-border spinner-border-sm ml-1"></span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="manage-sharing-tab" href="#manage-sharing" role="tab" data-toggle="tab">Manage Sharing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="manage-groups-tab" href="#manage-groups" role="tab" data-toggle="tab"
      hx-get="{% url 'load-observing-runs-tab' target.id %}" hx-target="#manage-groups" hx-trigger="click once" hx-indicator="#spinner-observing-runs">Observing Runs
      <span id="spinner-observing-runs" class="htmx-indicator spinner-border spinner-border-sm ml-1"></span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="images-tab" href="#images" role="tab" data-toggle="tab"
      hx-get="{% url 'load-images-tab' target.id %}" hx-target="#images" hx-trigger="click once" hx-indicator="#spinner-images">Images
      <span id="spinner-images" class="htmx-indicator spinner-border spinner-border-sm ml-1"></span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="photometry-tab" href="#photometry" role="tab" data-toggle="tab"
      hx-get="{% url 'load-photometry-tab' target.id %}" hx-target="#photometry" hx-trigger="click once" hx-indicator="#spinner-photometry">Photometry
      <span id="spinner-photometry" class="htmx-indicator spinner-border spinner-border-sm ml-1"></span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="spectroscopy-tab" href="#spectroscopy" role="tab" data-toggle="tab"
      hx-get="{% url 'load-spectroscopy-tab' target.id %}" hx-target="#spectroscopy" hx-trigger="click once" hx-indicator="#spinner-spectroscopy">Spectroscopy
      <span id="spinner-spectroscopy" class="htmx-indicator spinner-border spinner-border-sm ml-1"></span>
    </a>
  </li>
</ul>
<div class="row" style="padding-top: 10px;">
  <div class="col-md-2" id="target-info">
    {% target_data_with_user object %}
  </div>
  <div class="col-md-12">
    <div class="tab-content">
      <div class="tab-pane in active" id="observe">
        <div class="row">
          <div class="col-md-6">
            {% comments_enabled as comments_are_enabled %}
            <h4>Latest Comments</h4>
            {% if comments_are_enabled %}
              {% render_comment_list for object %}
              {% url 'targets:detail' object.id as next %}
              {% if user.is_authenticated %}
                {% render_comment_form for object %}
              {% endif %}
            {% endif %}
          </div>
          <div class="col-md-6">
            <h4>Latest Visibility at LCO</h4>
            <div hx-get="{% url 'load-airmass-plot' target.id %}" hx-trigger="load" hx-swap="outerHTML">
              <div class="tab-placeholder">Loading visibility plot...</div>
            </div>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-3" style="overflow: hidden;">
            <h4>Aladin Viewer</h4>
            {% aladin_finderchart object %}
          </div>
          <div class="col-md-9">
            <div hx-get="{% url 'load-thumbnail' target.id %}" hx-trigger="load" hx-swap="outerHTML">
              <div class="tab-placeholder">Loading thumbnail...</div>
            </div>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-6">
            <h4>Photometry</h4>
            <div hx-get="{% url 'load-dash-lightcurve' target.id %}?width=600&height=400" hx-trigger="load" hx-swap="outerHTML">
              <div class="tab-placeholder">Loading photometry plot...</div>
            </div>
          </div>
          <div class="col-md-6">
            <h4>Spectroscopy</h4>
            <div hx-get="{% url 'load-spectra-plot' target.id %}" hx-trigger="load" hx-swap="outerHTML">
              <div class="tab-placeholder">Loading spectroscopy plot...</div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="detail">
        <div class="tab-placeholder">Loading details...</div>
      </div>
      <div class="tab-pane" id="observations">
        <div class="tab-placeholder">Loading observations...</div>
      </div>
      <div class="tab-pane" id="manage-data">
        <div class="tab-placeholder">Loading manage data...</div>
      </div>
      <div class="tab-pane" id="manage-sharing">
        <div class="tab-placeholder">Manage Sharing functionality coming soon...</div>
      </div>
      <div class="tab-pane" id="manage-groups">
        <div class="tab-placeholder">Loading observing runs...</div>
      </div>
      <div class="tab-pane" id="images">
        <div class="tab-placeholder">Loading images...</div>
      </div>
      <div class="tab-pane" id="photometry">
        <div class="tab-placeholder">Loading photometry...</div>
      </div>
      <div class="tab-pane" id="spectroscopy">
        <div class="tab-placeholder">Loading spectroscopy...</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
