{% extends 'tom_common/base.html' %}
{% load comments bootstrap4 tom_common_extras targets_extras observation_extras dataproduct_extras static cache %}
{% load custom_code_tags %}
{/* % load airmass_tags % */}
{% block title %}Target {{ object|get_best_name }}{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_targets/css/targets_snexclone.css' %}">
{% endblock %}
{% block content %}
<style>
  #id_comment {
    height: 2.5rem;
    width: 30rem;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .mb-1 {
    font-weight: bold;
    font-size: 14px;
  }
  .mr-1 {
    font-size: 14px;
    margin-bottom: 0rem;
  }
  ::placeholder {
    color: white;
  }
  /* Gray out unloaded tabs */
  .nav-link.tab-loading {
    color: #999999 !important;
    pointer-events: none;
    cursor: default;
  }
  .nav-link.tab-loaded {
    color: #174460 !important;
  }
</style>
<script>
// This script maintains the selected tab upon reload
//$(document).ready(function(){
//  // This is required due to the apparent redefinition of $ in another library: https://api.jquery.com/jquery.noconflict/
//  // Based on trial and error, the offending script appears to be JS9, which is used in dataproduct_list_for_target
//  $.noConflict();
//  $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
//    localStorage.setItem('activeTab', $(e.target).attr('href'));
//  });
//
//  var activeTab = localStorage.getItem('activeTab');
//  if(activeTab){
//    $('#tabs a[href="' + activeTab + '"]').tab('show');
//  }
//});
</script>
<table class="header-table" cellpadding="0" cellspacing="0" style="background: #174460; font-family: 'Open Sans', sans-serif; color: white; width: 104.45%; margin-left: -39px; margin-top: -100px;">
  <tr height="89">
    <td align="left">
      <span style="display: inline-block; font-size: 35px; margin-left: 30px;">{{ target|get_best_name }}</span>
    </td>
    <td align="left">
      {% classifications_dropdown target%}
    </td>
    <td align="left">
      <form style="display: inline; font-size: 20px" name="form_redshift_theredshift" autocomplete="off" action="javascript: edit_redshift()">
        <span id="zpre">z=</span>
        <input type="hidden" name="targetid" id="thetargetid" value={{ target.id }}>
	{% with z=target.redshift%}
	{% if z == None %}
        <input type="text" name="redshift" id="thenewredshift" placeholder={{ z|strip_trailing_zeros }} autocomplete="off" style="background: none; border: 0px solid #174460; font-family: 'Open Sans', sans-serif; color: white;">
	{% else %}
        <input type="text" name="redshift" id="thenewredshift" value={{ z|strip_trailing_zeros }} autocomplete="off" style="background: none; border: 0px solid #174460; font-family: 'Open Sans', sans-serif; color: white;">
	{% endif %}
	{% endwith %}
      </form>
    </td>
    <script>
    function edit_redshift() {
      var targetid = {{ target.id }};
      var new_value = $('#thenewredshift').val();
      var newdata = {
        "key": "redshift",
        "value": new_value,
        "targetid": targetid
      };

      $.ajax({
        url: '{% url "sync_targetextra" %}',
        type: "GET",
        data: {"newdata": JSON.stringify(newdata)},
        contentType: "application/json",
        dataType: "json",
        success: function(response) {
          console.log("Redshift synced for target: ",targetid,new_value,response)
        },
        error: function(e) {
          console.log("Error syncing Redshift for target: ",targetid,new_value,e);
        }
      })
      }
    </script>
    <td align="left">
      <span style="display: inline-block; font-size: 23px;">{{ target.ra|deg_to_sexigesimal:"hms" }} {{ target.dec|deg_to_sexigesimal:"dms" }}</span><br><span style="display: inline-block; font-size: 20px;">{{ target.ra|floatformat:4 }} {{ target.dec|floatformat:4 }}</span>
    </td>
  </tr>
</table>
<ul class="nav nav-tabs" role="tablist" id="tabs">
  <li class="nav-item">
    <a class="nav-link active tab-loaded" id="observe-tab" href="#observe" role="tab" data-toggle="tab" style="color: #174460;">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link tab-loading" id="detail-tab" href="#detail" role="tab" data-toggle="tab" data-tab-name="details">Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link tab-loading" id="observations-tab" href="#observations" role="tab" data-toggle="tab" data-tab-name="observations">Observations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link tab-loading" id="manage-data-tab" href="#manage-data" role="tab" data-toggle="tab" data-tab-name="manage-data">Manage Data</a>
  </li>
  <li class="nav-item">
    <a class="nav-link tab-loading" id="manage-sharing-tab" href="#manage-sharing" role="tab" data-toggle="tab" data-tab-name="manage-sharing">Manage Sharing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link tab-loading" id="manage-groups-tab" href="#manage-groups" role="tab" data-toggle="tab" data-tab-name="observing-runs">Observing Runs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link tab-loading" id="images-tab" href="#images" role="tab" data-toggle="tab" data-tab-name="images">Images</a>
  </li>
  <li class="nav-item">
    <a class="nav-link tab-loading" id="photometry-tab" href="#photometry" role="tab" data-toggle="tab" data-tab-name="photometry">Photometry</a>
  </li>
  <li class="nav-item">
    <a class="nav-link tab-loading" id="spectroscopy-tab" href="#spectroscopy" role="tab" data-toggle="tab" data-tab-name="spectroscopy">Spectroscopy</a>
  </li>
</ul>
<div class="row" style="padding-top: 10px;">
  <div class="col-md-2" id="target-info">
    {% target_data_with_user object %}
  </div>
  <div class="col-md-12">
    <div class="tab-content">
      <div class="tab-pane in active" id="observe">
        <div class="row">
        <div class="col-md-6">
          {% comments_enabled as comments_are_enabled %}
          <h4>Latest Comments</h4>
            {% if comments_are_enabled %}
              {% render_comment_list for object %}
              {% url 'targets:detail' object.id as next %}
              {% if user.is_authenticated %}
                {% render_comment_form for object %}
              {% endif %}
            {% endif %}
        </div>
        <div class="col-md-6">
          <h4>Latest Visibility at LCO</h4>
          <div id="airmass-plot-container"><div style="text-align: center; padding: 50px;">Loading visibility plot...</div></div>
        </div>
        </div>
        <hr/>
	<div class="row">
        <div class="col-md-3" style="overflow: hidden;">
	  <h4>Aladin Viewer</h4>
          {% aladin_finderchart object %}
        </div>
	<div class="col-md-9" id="thumbnail-container">
	  <div style="text-align: center; padding: 50px;">Loading thumbnail...</div>
	</div>
	</div>
        <hr/>
        <div class="row">
        <div class="col-md-6">
	   <h4>Photometry</h4>
          {#% lightcurve object %#}
          <div id="plotly-lc-div" style="position: relative; padding-bottom: 200.0% !important; height: 0; overflow: hidden;">
	  <div style="text-align: center; padding: 50px;">Loading photometry plot...</div>
          </div>
        </div>
        <div class="col-md-6">
          <h4>Spectroscopy</h4>
          <div id="overview-spectra-plot"><div style="text-align: center; padding: 50px;">Loading spectroscopy plot...</div></div>
        </div>
        </div>
      </div>
      <div class="tab-pane" id="detail">
        <div style="text-align: center; padding: 50px;">Loading details...</div>
      </div>
      <div class="tab-pane" id="observations">
        <div style="text-align: center; padding: 50px;">Loading observations...</div>
      </div>
      <div class="tab-pane" id="manage-data">
        <div style="text-align: center; padding: 50px;">Loading manage data...</div>
      </div>
      <div class="tab-pane" id="manage-sharing">
        <div style="text-align: center; padding: 50px;">Manage Sharing functionality coming soon...</div>
      </div>
      <div class="tab-pane" id="manage-groups">
        <div style="text-align: center; padding: 50px;">Loading observing runs...</div>
      </div>
      <div class="tab-pane" id="images">
        <div style="text-align: center; padding: 50px;">Loading images...</div>
      </div>
      <div class="tab-pane" id="photometry">
        <div style="text-align: center; padding: 50px;">Loading photometry...</div>
      </div>
      <div class="tab-pane" id="spectroscopy">
        <div style="text-align: center; padding: 50px;">Loading spectroscopy...</div>
      </div>
    </div>
  </div>
</div>
<script>
// Track which tabs have been loaded
var loadedTabs = {
  'observe': true  // Overview is loaded by default
};

// Function to load a tab's content
function loadTab(tabName, targetId) {
  if (loadedTabs[tabName]) {
    return;  // Tab already loaded
  }
  
  var urlMap = {
    'details': '{% url "load-details-tab" %}',
    'observations': '{% url "load-observations-tab" %}',
    'manage-data': '{% url "load-manage-data-tab" %}',
    'observing-runs': '{% url "load-observing-runs-tab" %}',
    'images': '{% url "load-images-tab" %}',
    'photometry': '{% url "load-photometry-tab" %}',
    'spectroscopy': '{% url "load-spectroscopy-tab" %}'
  };
  
  var divMap = {
    'details': 'detail',
    'observations': 'observations',
    'manage-data': 'manage-data',
    'observing-runs': 'manage-groups',
    'images': 'images',
    'photometry': 'photometry',
    'spectroscopy': 'spectroscopy'
  };
  
  if (!urlMap[tabName]) {
    return;  // No URL for this tab (e.g., manage-sharing)
  }
  
  $.ajax({
    url: urlMap[tabName],
    data: {'target_id': targetId},
    dataType: 'json',
    success: function(response) {
      $('#' + divMap[tabName]).html(response.html);
      loadedTabs[tabName] = true;
    },
    error: function() {
      $('#' + divMap[tabName]).html('<div style="text-align: center; padding: 50px; color: red;">Error loading ' + tabName + '</div>');
    }
  });
}

// Set up tab click handlers
$(document).ready(function() {
  $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
    var tabName = $(e.target).data('tab-name');
    var targetId = {{ target.id }};
    
    if (tabName && !loadedTabs[tabName]) {
      // Mark tab as loaded (change from gray to blue) immediately when clicked
      $(e.target).removeClass('tab-loading').addClass('tab-loaded');
      loadTab(tabName, targetId);
    }
  });
  
  // Load all tabs in background after a short delay
  setTimeout(function() {
    var targetId = {{ target.id }};
    var tabsToLoad = ['details', 'observations', 'manage-data', 'observing-runs', 'images', 'photometry', 'spectroscopy'];
    
    tabsToLoad.forEach(function(tabName, index) {
      // Stagger the loading to avoid overwhelming the server
      setTimeout(function() {
        if (!loadedTabs[tabName]) {
          // Mark tab as loaded (ungray it)
          $('a[data-tab-name="' + tabName + '"]').removeClass('tab-loading').addClass('tab-loaded');
          loadTab(tabName, targetId);
        }
      }, index * 500);  // Load one tab every 500ms
    });
  }, 1000);  // Start loading tabs 1 second after page load
});

function load_lightcurve_details() {
  $.ajax({
    url: '{% url "load-lc" %}',
    data: {'target_id': {{ target.id }},
           'user_id': {{ user.id }}
    },
    dataType: 'json',
    success: function(response) {
      var plot = response.lightcurve_plot;
      $('#lc-primary').html(plot);
    }
  });
}
function display_obs() {
  var x = document.getElementById("previous-obs");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
function savecomment(e, spectrumId) {
  var comment = document.getElementById("comment-"+spectrumId).value;
  if (e.keyCode == 13 && comment != "") {
    // Enter key was pressed, so submit the comment now
    $.ajax({
      url: '{% url "save-comment" %}',
      data: {'comment': comment,
            'object_id': spectrumId,
            'user_id': {{ user.id }},
      'tablename': 'spec',
      },
      dataType: 'json',
      success: function() {
        document.getElementById("comment-"+spectrumId).insertAdjacentHTML('beforebegin', '<div class="row">{{ user.username }}: ' + comment +'</div>');
      }
    })
  }
}
function setTargetOnSpectroscopyForm(val) {
  const spectroscopyShareForm = document.getElementById('spectroscopy-data-share-form');
  if (val && val != '') {
    spectroscopyShareForm.setAttribute('target', val);
  }
  else{
    spectroscopyShareForm.removeAttribute('target');
  }
  return true;
};
function check_selected_spectra()  {
  var share_boxes = document.querySelectorAll("[name='share-box'][class='spectrum-row']");
  var submit_btn = document.getElementById('submit_selected_spectra');
  for (const box of share_boxes) {
    if(box.checked == true) {
      submit_btn.disabled = false;
      return;
    }
  }
  submit_btn.disabled = true;
}
function loadStandardTable() {
  var standardDiv = document.getElementById('standard-div');
  standardDiv.innerHTML = 'Loading ... this may take a while ...';
  $.ajax({
    url: '{% url "custom_code:get-target-standards" %}',
    data: {'target_id': {{ target.id }}},
    dataType: 'json',
    success: function(response) {
      standardDiv.style.cursor = 'default';
      standardDiv.innerHTML = response['html_from_view'];
    }
  })
}
// Lazy load heavy components
function load_overview_lightcurve() {
  $.ajax({
    url: '{% url "load-dash-lightcurve" %}',
    data: {
      'target_id': {{ target.id }},
      'width': 600,
      'height': 400
    },
    dataType: 'json',
    success: function(response) {
      $('#plotly-lc-div').html(response.plot_html);
      // Adjust padding after loading
      var parentElt = document.getElementById("plotly-lc-div");
      var childElt = parentElt.firstElementChild;
      if (childElt) {
        childElt.style.padding = "0% 0% 250.0% 0%";
      }
    },
    error: function() {
      $('#plotly-lc-div').html('<div style="text-align: center; padding: 50px; color: red;">Error loading photometry plot</div>');
    }
  });
}

function load_overview_spectra() {
  $.ajax({
    url: '{% url "load-spectra-plot" %}',
    data: {'target_id': {{ target.id }}},
    dataType: 'json',
    success: function(response) {
      $('#overview-spectra-plot').html(response.plot_html);
    },
    error: function() {
      $('#overview-spectra-plot').html('<div style="text-align: center; padding: 50px; color: red;">Error loading spectroscopy plot</div>');
    }
  });
}

function load_overview_thumbnail() {
  $.ajax({
    url: '{% url "load-thumbnail" %}',
    data: {'target_id': {{ target.id }}},
    dataType: 'json',
    success: function(response) {
      $('#thumbnail-container').html(response.html);
    },
    error: function() {
      $('#thumbnail-container').html('<div style="text-align: center; padding: 50px; color: red;">Error loading thumbnail</div>');
    }
  });
}

function load_overview_airmass() {
  $.ajax({
    url: '{% url "load-airmass-plot" %}',
    data: {'target_id': {{ target.id }}},
    dataType: 'json',
    success: function(response) {
      $('#airmass-plot-container').html(response.html);
    },
    error: function() {
      $('#airmass-plot-container').html('<div style="text-align: center; padding: 50px; color: red;">Error loading airmass plot</div>');
    }
  });
}

$(document).ready (function() {
  // Load heavy components after the page has loaded
  // Airmass plot is very expensive, so load it last
  setTimeout(function() {
    load_overview_lightcurve();
    load_overview_spectra();
    load_overview_thumbnail();
    load_overview_airmass();
  }, 100);
})

// Monitor Dash app iframes for loading errors and auto-reload
function setupDashErrorMonitoring() {
  // Keep track of which iframes we've already set up monitoring for
  var monitoredIframes = new Set();
  
  function checkIframeForErrors($iframe) {
    try {
      var iframeDoc = $iframe[0].contentDocument || $iframe[0].contentWindow.document;
      if (!iframeDoc) {
        console.log('No iframe document available yet');
        return false;
      }
      
      var bodyText = $(iframeDoc.body).text();
      // Check for the specific error text
      if (bodyText.includes('Error loading layout')) {
        console.log('Found error text in iframe body:', bodyText.substring(0, 100));
        return true;
      }
    } catch(e) {
      // Can't access iframe content (cross-origin), ignore
      console.log('Cannot access iframe content:', e.message);
    }
    return false;
  }
  
  function handleIframeError($iframe, iframeSrc) {
    // Determine which app type this is and reload appropriately
    var appName = null;
    if (iframeSrc.includes('/app/Spectra_Individual/')) {
      appName = 'Spectra_Individual';
    } else if (iframeSrc.includes('/app/Spectra/')) {
      appName = 'Spectra';
    } else if (iframeSrc.includes('/app/Lightcurve/')) {
      appName = 'Lightcurve';
    }
    
    console.log('Handling error for app type:', appName);
    
    // Handle Spectra_Individual (individual spectrum plots)
    if (appName === 'Spectra_Individual') {
      // Find the spectrum row (tr element)
      var $row = $iframe.closest('tr');
      if ($row.length > 0) {
        // Extract spectrum_id from the row ID or checkbox
        var rowId = $row.attr('id');
        var spectrumId = null;
        
        if (rowId && rowId.startsWith('spectrum-row-')) {
          spectrumId = rowId.replace('spectrum-row-', '');
        } else {
          // Try to find from checkbox
          var $checkbox = $row.find('input[type="checkbox"][name="share-box"]');
          if ($checkbox.length > 0) {
            spectrumId = $checkbox.val();
          }
        }
        
        if (spectrumId) {
          console.log('Reloading individual spectrum:', spectrumId);
          
          // Show loading message in the plot cell
          var $plotCell = $iframe.closest('td');
          $plotCell.html('<div style="text-align: center; padding: 50px; color: #666;">' +
            '<div style="margin-bottom: 10px;">Reloading spectrum...</div>' +
            '<div class="spinner-border spinner-border-sm" role="status"></div>' +
            '</div>');
          
          // Reload the entire spectrum row from the server
          $.ajax({
            url: '{% url "load-single-spectrum" %}',
            data: {
              'spectrum_id': spectrumId,
              'target_id': {{ target.id }}
            },
            dataType: 'json',
            success: function(response) {
              $row.replaceWith(response.html);
              console.log('Spectrum row reloaded successfully');
            },
            error: function() {
              $plotCell.html('<div style="text-align: center; padding: 20px; color: #dc3545;">Error reloading spectrum</div>');
            }
          });
        }
      }
    }
    // Handle Spectra app (could be on overview or spectroscopy tab)
    else if (appName === 'Spectra') {
      // First check if it's the overview tab static plot
      var $overviewContainer = $iframe.closest('#overview-spectra-plot');
      if ($overviewContainer.length > 0) {
        console.log('Reloading overview spectra plot');
        $overviewContainer.html('<div style="text-align: center; padding: 50px; color: #666;">' +
          '<div style="margin-bottom: 10px;">Reloading spectroscopy plot...</div>' +
          '<div class="spinner-border spinner-border-sm" role="status"></div>' +
          '</div>');
        
        $.ajax({
          url: '{% url "load-spectra-plot" %}',
          data: {'target_id': {{ target.id }}},
          dataType: 'json',
          success: function(response) {
            $overviewContainer.html(response.plot_html);
            console.log('Overview spectra reloaded successfully');
          },
          error: function() {
            $overviewContainer.html('<div style="text-align: center; padding: 20px; color: #dc3545;">Error reloading plot</div>');
          }
        });
      } else {
        // It's on the spectroscopy tab - need to reload that tab's content
        console.log('Reloading spectroscopy tab Spectra app');
        
        // Find the containing table or div
        var $container = $iframe.closest('table, div[id], td');
        if ($container.length === 0) {
          $container = $iframe.parent();
        }
        
        $container.html('<div style="text-align: center; padding: 50px; color: #666;">' +
          '<div style="margin-bottom: 10px;">Reloading spectroscopy overview...</div>' +
          '<div class="spinner-border spinner-border-sm" role="status"></div>' +
          '</div>');
        
        // Reload the entire spectroscopy tab to get fresh Dash app
        $.ajax({
          url: '{% url "load-spectroscopy-tab" %}',
          data: {'target_id': {{ target.id }}},
          dataType: 'json',
          success: function(response) {
            $('#spectroscopy').html(response.html);
            console.log('Spectroscopy tab reloaded successfully');
          },
          error: function() {
            $container.html('<div style="text-align: center; padding: 20px; color: #dc3545;">Error reloading spectroscopy</div>');
          }
        });
      }
    }
    // Handle overview Lightcurve app
    else if (appName === 'Lightcurve') {
      var $container = $iframe.closest('#plotly-lc-div');
      if ($container.length > 0) {
        console.log('Reloading overview lightcurve');
        $container.html('<div style="text-align: center; padding: 50px; color: #666;">' +
          '<div style="margin-bottom: 10px;">Reloading photometry plot...</div>' +
          '<div class="spinner-border spinner-border-sm" role="status"></div>' +
          '</div>');
        
        $.ajax({
          url: '{% url "load-dash-lightcurve" %}',
          data: {
            'target_id': {{ target.id }},
            'width': 600,
            'height': 400
          },
          dataType: 'json',
          success: function(response) {
            $container.html(response.plot_html);
            // Adjust padding after loading
            var parentElt = document.getElementById("plotly-lc-div");
            var childElt = parentElt.firstElementChild;
            if (childElt) {
              childElt.style.padding = "0% 0% 250.0% 0%";
            }
            console.log('Overview lightcurve reloaded successfully');
          },
          error: function() {
            $container.html('<div style="text-align: center; padding: 20px; color: #dc3545;">Error reloading plot</div>');
          }
        });
      }
    }
  }
  
  function monitorIframe($iframe) {
    var iframeSrc = $iframe.attr('src');
    if (!iframeSrc || !iframeSrc.includes('/django_plotly_dash/')) {
      return;
    }
    
    // Generate a unique ID for this iframe
    var iframeId = $iframe.attr('id') || ('dash-iframe-' + Math.random().toString(36).substr(2, 9));
    if (!$iframe.attr('id')) {
      $iframe.attr('id', iframeId);
    }
    
    if (monitoredIframes.has(iframeId)) {
      return; // Already monitoring this iframe
    }
    monitoredIframes.add(iframeId);
    
    console.log('Setting up monitoring for Dash iframe:', iframeId);
    
    // Check immediately in case iframe already loaded with error
    setTimeout(function() {
      if (checkIframeForErrors($iframe)) {
        console.warn('Dash app error detected immediately:', iframeId);
        handleIframeError($iframe, iframeSrc);
      }
    }, 100);
    
    // Monitor after iframe loads
    $iframe.on('load', function() {
      // Check multiple times to catch errors that appear at different timings
      var checksPerformed = 0;
      var maxChecks = 5;
      var checkIntervalId = setInterval(function() {
        checksPerformed++;
        
        if (checkIframeForErrors($iframe)) {
          clearInterval(checkIntervalId);
          console.warn('Dash app error detected in iframe (check #' + checksPerformed + '), reloading:', iframeId);
          handleIframeError($iframe, iframeSrc);
        } else if (checksPerformed >= maxChecks) {
          // Stop checking after max checks
          clearInterval(checkIntervalId);
        }
      }, 500); // Check every 500ms, up to 5 times (2.5 seconds total)
    });
  }
  
  // Monitor existing iframes
  function scanForDashIframes() {
    $('iframe').each(function() {
      monitorIframe($(this));
    });
  }
  
  // Initial scan
  scanForDashIframes();
  
  // Periodically check for new iframes (for dynamically loaded content)
  setInterval(scanForDashIframes, 2000);
  
  // Also use MutationObserver to catch iframes as they're added
  if (typeof MutationObserver !== 'undefined') {
    var observer = new MutationObserver(function(mutations) {
      mutations.forEach(function(mutation) {
        mutation.addedNodes.forEach(function(node) {
          if (node.nodeName === 'IFRAME') {
            monitorIframe($(node));
          }
          // Check descendants
          $(node).find('iframe').each(function() {
            monitorIframe($(this));
          });
        });
      });
    });
    
    observer.observe(document.body, {
      childList: true,
      subtree: true
    });
  }
}

// Start monitoring when page is ready
$(document).ready(function() {
  setupDashErrorMonitoring();
});
</script>
{% endblock %}
